@import "../base-a11y";
@import "../units";

.breadcrumbs {
  @include a11y();
  @include a11y-touchable();
  box-sizing: border-box;

  font-size: $font-size-default;
  font-weight: bold;
  padding: $spacing-tiny;

  display: flex;
  align-items: center;
  width: min-content;

  border: none;
  box-shadow: none;

  max-width: 100%;
  overflow-x: scroll;
  overflow-y: clip;

  svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: currentColor;
  }

  .chevron {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--pt-grey-8);
    text-align: center;
    &::after {
      content: "â¯";
    }
  }

  & > span:not(.chevron),
  & > a {
    padding: 8px;
    border-radius: $border-radius-subtle;
    width: max-content;
    flex-shrink: 0;
    &:hover:not(.selected) {
      background: var(--pt-accent-3);
      color: var(--pt-grey-8);
    }
  }

  .selected {
    background: var(--pt-accent-3);
    color: var(--pt-grey-8);
  }
}
