/**
 * Pipet Article Elements
 * ========
 * Styling for textual content
 */
@import "units";

/**
 * ==================================================================
 * Shared
 * ==================================================================
 */

@mixin article-default-font {
  font-size: 1rem;
  line-height: 1.5rem;
}

/**
 * ==================================================================
 * Shared
 * ==================================================================
 */

/**
 * Paragraphs
 */
@mixin paragraph {
  color: var(--pt-text);
  font-size: 1rem;
  line-height: 1.5rem;

  margin-block: 8px;
}
.paragraph {
  @include paragraph();
}

@mixin ol {
  list-style: decimal;
  margin-inline-start: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.ol {
  @include ol();
}

@mixin ul {
  list-style: disc;
  margin-inline-start: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.ul {
  @include ul();
}

/**
 * Hrefs
 *
 * Recommended structure
 * ========
 * - <a>, for links
 * - <span>, for future links / links without an endpoint
 */
@mixin href-base {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: inherit;
}

@mixin href {
  @include href-base();
  text-decoration-color: var(--pt-theme-info);
  &:hover {
    cursor: pointer;
    color: var(--pt-theme-info-standalone);
  }
}
.href {
  @include href();
}

@mixin href-no-target {
  @include href-base();
  text-decoration-color: var(--pt-theme-destructive);
  &:hover {
    cursor: not-allowed;
  }
}
.href-no-target {
  @include href-no-target();
}

@mixin blockquote {
  color: var(--pt-text);
  font-size: 1rem;
  line-height: 1.5rem;

  background: var(--pt-container-bg-highlight);
  padding: 16px;
  border-inline: 8px solid var(--pt-theme-primary);
  border-radius: 32px;
  border-end-end-radius: 0;
  border-start-start-radius: 0;
  box-shadow: var(--pt-shadow-container);
  &::before {
    content: "“";
    font-size: 2rem;
    line-height: 1rem;
    font-weight: bold;
    vertical-align: bottom;
    color: var(--pt-theme-primary-standalone);
  }
  &::after {
    content: "”";
    font-size: 2rem;
    line-height: 1rem;
    font-weight: bold;
    vertical-align: bottom;
    color: var(--pt-theme-primary-standalone);
  }
}
.blockquote {
  @include blockquote();
}

@mixin image {
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--pt-container-bg);
  border: 1px solid var(--pt-border);
  border-radius: 4px;
  box-shadow: var(--pt-shadow-container);

  margin-block: 16px;

  // Image specific properties
  object-fit: scale-down;
  display: block;
  margin-inline: auto;
  padding: 4px;
}
.image {
 @include image();
}

@mixin table {
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--pt-container-bg);
  border: 1px solid var(--pt-border);
  border-radius: 4px;
  box-shadow: var(--pt-shadow-container);

  margin-block: 16px;

  // Table specific properties
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;

  th, td {
    padding: 8px;
    text-align: start;
  }

  thead {
    font-size: 1.125rem;
    font-weight: bold;
    border-bottom: 3px solid var(--pt-border);
  }
  tbody {
    tr:nth-child(odd) {
      background-color: var(--pt-container-bg-highlight);
    }
    tr:not(:last-child) {
      border-bottom: 1px solid var(--pt-border);
    }
  }
}
.table {
 @include table();
}

.media-wrapper {
  margin-block: 1.5rem;

  background: var(--pt-grey-1);
  border-radius: $border-radius-medium;
  border: 1px solid var(--pt-grey-5);
  box-shadow: var(--pt-shadow-container);

  img {
    box-sizing: border-box;
    max-width: 100%;
    object-fit: scale-down;
    display: block;
    margin-inline: auto;
  }

  .media-caption {
    padding: $spacing-tiny;
    font-size: 1rem;
    text-align: center;
  }
}

.article {
  text-align: justify;

  h2 {
    font-family: serif;
    margin-top: 1.500rem;
    margin-bottom: 1.375rem;
    font-size: 1.675rem;
    font-weight: bold;
  }
  h3 {
    font-family: serif;
    &::before {
      content: "§ "
    }
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.375rem;
    font-weight: normal;
  }
  h4 {
    font-family: serif;
    &::before {
      content: "§§ "
    }
    margin-top: 1.250rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: normal;
    font-style: italic;
  }

  p {
    @include paragraph();
  }
  a {
    @include href();
  }
  ul {
    @include ul();
  }
  ol {
    @include ol();
  }



  & > section > blockquote,
  & > blockquote {
    @include blockquote();
  }
  img {
    @include image();
  }
  table {
    @include table();
  }
}