@import "base-colours";
@import "var-units";

@mixin tablist() {
  padding: 4px;
  border-radius: 8px;
  display: flex;
  gap: 4px;
  overflow-y: scroll;
  box-sizing: border-box;
  color: var(--pt-text);
  background: var(--pt-flat-control-bg);

  height: $unit-component-medium;
  a, button {
    line-height: $unit-component-medium - 16px;
  }

  a,
  button {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    padding: 4px 16px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: 0;
    background: none;
    border: none;
    min-width: max-content;

    &:hover:not(.selected):not(:disabled) {
      cursor: pointer;
      color: var(--pt-theme-on-soft);
      background-color: var(--pt-theme-soft);
    }
    &.selected {
      color: var(--pt-theme-on-primary);
      background-color: var(--pt-theme-primary);
    }
  }

  &.--compact {
    height: $unit-component-compact;
    a, button {
      line-height: $unit-component-compact - 16px;
    }
  }
  &.--medium {
    height: $unit-component-medium;
    a, button {
      line-height: $unit-component-medium - 16px;
    }
  }
  &.--big {
    height: $unit-component-big;
    a, button {
      line-height: $unit-component-big - 16px;
    }
  }
  
  

  &, &.light {
    button:disabled {
      //color: $pt-l-text-disabled;
      color: #959595;
    }
  }
  &.dark {
    button:disabled {
      color: $pt-d-text-disabled;
    }
  }
}
