@use "sass:color";
@import "c-buttons";
@import "base-colours";

@mixin notification-button($color) {
}

@mixin notification($symbol, $color, $shade) {

  //$color-20: rgba($color, 0.2);
  $color-20: color.change($color, $lightness: 80%);

  padding: 16px 16px 16px 8px;
  background-color: $shade;
  //border: 1px solid $color;
  border-left: 8px solid $color;
  color: var(--pt-text);
  //border-radius: 0 4px 4px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  p {
    font-size: 18px;
  }
  button {
    @include notification-button($color);
  }
}

.notification {
  &.info {
    @include notification('', #004FCF, #C7DCFC);
  }
  &.warn {
    @include notification('', #995700, #FCF2D2);
  }
  &.error {
    @include notification('', #A30300, #ffe6e6);
  }
}