$spacing-none: 0;
$spacing-tiny: 4px;
$spacing-small: 8px;
$spacing-standard: 16px;
$spacing-large: 32px;
$spacing-huge: 64px;

$border-width-default: 1px;
$border-width-thick: 2px;

$min-touchable-dim: 44px;

$font-size-default: 1rem;
$font-size-page-header: 48px;

$border-radius-subtle: 4px;
$border-radius-medium: 8px;
$border-radius-heavy: 16px;

$line-height-default: 1.125rem;
$line-height-double: 2rem;