/**
 * Pipet Banner Class
 * ========
 * Banners can be used to display messages to users.
 *
 * Recommended Structure
 * ========
 * - <div class="banner(-x)>
 *  - (optional) <h2>, <h3>, <h4>, <h5>, <h6>, <strong>, .banner-title
 *  - <p>
 */

@mixin banner() {
  border-top-width: 8px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-radius: 4px;
  box-shadow: var(--pt-shadow-container);
  padding: 16px;

  font-size: 1rem;
  color: var(--pt-grey-8);

  & > .banner-title,
  & > h2, & > h3, & > h4, & > h5, & > h6,
  & > strong {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

.banner {
  @include banner();
  background: var(--pt-grey-3);
  border-color: var(--pt-grey-5);
}

.banner-info {
  @include banner();
  background: var(--pt-info-1);
  border-color: var(--pt-info-3);
}
.banner-warn, // todo: deprecate "banner-warn"
.banner-warning {
  @include banner();
  background: var(--pt-warning-1);
  border-color: var(--pt-warning-3);
}
.banner-important, // todo: deprecate "banner-important"
.banner-critical {
  @include banner();
  background: var(--pt-critical-1);
  border-color: var(--pt-critical-3);
}
